<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626287718183-g6s2l9htn8lrinkvlpa7cih32so1ikru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626287718183-g6s2l9htn8lrinkvlpa7cih32so1ikru</string>
	<key>API_KEY</key>
	<string>AIzaSyCWewEOPgJL0uOt9cAqtZargUbbrG65374</string>
	<key>GCM_SENDER_ID</key>
	<string>626287718183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekenozlu.SkyChatIOS</string>
	<key>PROJECT_ID</key>
	<string>skyc-2d5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>skyc-2d5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626287718183:ios:0e264bf49e3cc271a6c302</string>
</dict>
</plist>